
// Tema personalizado para PrimeNG. Puedes agregar variables y estilos aquí.

body {
  color-scheme: light;
  background-color: #f4f4f4;
  color: #222;
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
}
