
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
// Tema personalizado para PrimeNG. Puedes agregar variables y estilos aquí.

body {
  color-scheme: light;
  background-color: #f4f4f4;
  color: #222;
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
}
